h1 {
  color: blue;
  font-family: cursive;
}
p {
  font-family: Georgia;
}
h2 {
  color: teal;
  font-family: cursive;
}
body {
  background-color: #e0e0e0;
}
.whole {
  position: absolute;
  left: 50%;
  top: 35%
  transform: translateX(-50%) translateY(-50%);
}
img {
  overflow: scroll;
}
